#main_page {
    width: 100%;
    height: 1700px;
}

.main_page--background-search {
    height: 450px;
    width: 100%;
    background-image: linear-gradient(-180deg, rgba(0, 160, 255, 0), rgb(7, 112, 205));
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: visible;
    position: relative;
}

.main_page--background-search > .promotion {
    width: 50%;
    position: absolute;
    top: 130px;
}

.main_page--background-search > .booking--container {
    width: 70%;
    position: absolute;
    top: 430px;
}

#main_page > .popular-destinations--container {
    width: 70%;
    position: absolute;
    top: 800px;
    left: 15%;
}