.loading--container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F2F3F3;
    top: 0;
    left: 0;
    z-index: 10000;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading--container-image {
    height: 10%;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }