.calendar-input {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 5px 10px;
}

.calendar-input--container {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
}

.calendar-input--container-input {
    width: 87%;
    height: 90%;
    border: 0px;
}

.calendar-input--container-input:focus {
    outline: none;
}

.calendar-input--icon {
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 15%;
}

.calendar-input--icon > svg {
    position: absolute;
    left: 20%;
    top: 30%;
}

.calendar-input--container-input--wrapper {
    width: 80% !important;
    height: 100%;
    border: 0px;
    position: absolute;
    left: 30px;
    display: flex !important;
    align-items: center;
}

.calendar-input--data-str {
    position: absolute;
    width: 85%;
    height: 100%;
    left: 15%;
}

.calendar-input--data-str > span {
    position: absolute;
    top: 25%;
}
