.login-input--container {
    position: relative;
}

.login-input--container-input {
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 6px;
}

.login-input--hidden-icon {
    position: absolute;
    top: 25%;
    right: 0;
    cursor: pointer;
}