.suggestion-input {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 5px 10px;
}

.suggestion-input--container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 8px;
}

.suggestion-input--container-input {
    width: 90%;
    height: 90%;
    border: 0px;
}

.suggestion-input--container-input:focus {
    outline: none;
}

.suggestion-input--icon {
    position: absolute;
    top: 25%;
    left: 5px;
    cursor: pointer;
}